/* styles/ContactForm.module.css */
.container {
  width: 500px;
}

.formLabel {
  font-weight: bold;
  color: #BDC3C7;
}

.formInput {
  padding: 10px;
  /* border-radius: 5px; */
  border: 1px solid #ddd;
  margin-bottom: 15px;
  background-color: #ecf0f1;
}

.formTextarea {
  min-height: 120px;
  padding: 10px;
  /* border-radius: 5px; */
  border: 1px solid #ddd;
  margin-bottom: 15px;
  background-color: #ECF0F1;
}

.submitButton {
  background-color: #16A085;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
/*   border-radius: 5px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.formHeading {
  text-align: center;
  font-size: 24px;
  color: #BDC3C7;
}

