.factsHeading{
    color: #606060;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    align-items: center;
    /* Vertikale Ausrichtung */
    overflow: hidden;
    /* Verhindert, dass etwas außerhalb des Containers angezeigt wird */
    height: 500px;
    /* Container-Höhe anpassen */
    position: relative;
    /* Position für das Bild */
}

.movingImage {
    /*
    width: auto;  Behalte die Originalbreite bei 
    height: auto; /* Behalte die Originalhöhe bei 
    */
    max-width: 600px;
    /* Maximalbreite des Bildes */
    transform: translateX(-150%);
    /* Start außerhalb des sichtbaren Bereichs */
    transition: transform 2s ease;
    /* Sanfte Animation beim Bewegen */
}

.text {
    opacity: 0;
    /* Text anfangs unsichtbar */
    transform: translateX(100%);
    /* Start außerhalb des sichtbaren Bereichs auf der rechten Seite */
    transition: opacity 1s ease, transform 2s ease;
    /* Sanfte Animation */
    margin-left: 20px;
    /* Abstand zwischen Bild und Text */
}