/* Container Style */
.workflowContainer {
  background-color: #f8f9fa;
  padding: 2rem 0;
}

/* FAQ Item Container */
.workflowItem {
  background-color: #ffffff;
  border: 1px solid #ffffff00;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(55, 54, 54, 0.16); /* Dezenter Schatten */
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  padding: 1.4rem; /* Mehr Höhe */
}

.workflowItem:hover {
  background-color: #e9ecef;
  color: #16A085;
}

/* Header for FAQ Item */
.workflowHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
}

/* Title of Each Workflow Step */
.workflowTitle {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  color: #16A085;
}

.workflowTitle:hover{
  color: #16A085;
}

/* Rotating Icon Style */
.icon {
  transition: transform 0.3s ease;
  font-size: 1.2rem;
}

.iconOpen {
  transform: rotate(180deg);
}

/* Content Section for Each FAQ */
.workflowContent {
  padding-top: 1rem;
  color: #555555;
}

.container-workflow{
  width: 100vw;
  background-color: black;
}



